:root {
  --background-color: #f0f4fb;
  --sub-color: #f1f1f1;
  --color-main: #ffffff;
  --color-sec: #3a3a3a;
  --color-pri: #1f1f1f;
  --hoverbtn-bg: #1abc9c;
  --hoverlink-color: #196cc5;
  --border-radius: 8px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 92px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
}
.navbar {
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.nav-links a {
  text-decoration: none;
}
.nav-links span {
  padding-left: 20px;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  color: var(--color-pri);
}
.nav-links span:hover {
  color: var(--hoverlink-color);
}
.nav-buttons button {
  background-color: transparent;
  color: var(--color-pri);
  border: 1px solid var(--color-pri);
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.25s ease-in;
}
.nav-buttons button:hover {
  background-color: var(--hoverbtn-bg);
  color: var(--color-main);
  font-weight: 700;
  border: none;
}
#hero {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 70px 100px;
  width: 100%;
  min-height: 95vh;
  background: linear-gradient(135deg, #abd1eb 0%, #ccdfed 10%, #2564ba 100%);
}
.hero-content {
  width: 50%;
  font-family: "Roboto", sans-serif;
  color: var(--color-pri);
  padding: 100px 0;
  padding-right: 20px;
  max-width: 470px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
.hero-content h2 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 600;
}
.hero-content p {
  font-size: 16px;
  font-weight: 500px;
}
.hero-buttons {
  margin-top: 85px;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  gap: 24px;
}
.hero-buttons button {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 24px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-pri);
  transition: 0.25s ease-in;
}
.hero-buttons button:hover {
  background-color: var(--hoverbtn-bg);
  color: var(--color-main);
  font-weight: 600;
  border: none;
}
.hero-image {
  align-self: center;
  width: 50%;
  max-width: 613px;
  height: auto;
}
.hero-image img {
  max-width: 100%;
}
#features {
  position: relative;
  background-color: var(--background-color);
  text-align: center;
  margin: auto;
}
.search {
  width: 100%;
  max-width: 70%;
  z-index: 10;
  position: absolute;
  height: 100px;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 75px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 24px 84px;
  border-radius: 12px;
  background-color: var(--background-color);
}
.dropdown {
  padding: 12px 20px;
  border: none;
  background-color: rgba(209, 226, 245, 0.3);
  border-radius: 10px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.input-container {
  display: flex;
  gap: 10px;
  flex: 1;
}
.input-wrapper {
  position: relative;
  flex: 1;
}
.input-wrapper input {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 100%;
  padding: 12px 40px 12px 16px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
}
.input-wrapper input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #8a8585;
}
.input-wrapper .icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #888;
}
.search-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 12px 20px;
  background-color: #12b488;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
.features-container {
  padding: 100px 0;
  width: 90%;
  margin: auto;
}
.features-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-pri);
  font-family: "Roboto", sans-serif;
  max-width: 438px;
  margin: auto;
}
.features-content .title {
  font-size: 24px;
  line-height: 42px;
}
.features-content h2 {
  font-size: 40px;
  color: #0c345f;
  line-height: 60px;
  font-weight: 500;
}
.features-content p {
  font-size: 18px;
  max-width: 325px;
}
.features-highlights {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 50px;
}
.highlight-box {
  max-width: 350px;
  padding: 24px 10px 24px 24px;
  border-radius: 10px;
  background-color: #2174f8;
  color: var(--color-main);
  font-family: "Roboto", sans-serif;
  text-align: left;
}
.highlight-box h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
}
.highlight-box p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
.how-it-works {
  text-align: center;
  padding: 70px 100px;
  background-color: var(--background-color);
}
.how-it-works .title {
  font-weight: 500;
  line-height: 42px;
  font-size: 28px;
  margin-bottom: 8px;
  color: var(--color-pri);
  font-family: "Roboto", sans-serif;
}
.how-it-works .subtitle {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px;
  color: var(--color-pri);
  font-family: "Roboto", sans-serif;
}
.workflow {
  /* color: var(--color-pri); */
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  position: relative;
  flex-wrap: wrap;
}
.step,
.center {
  max-width: 300px;
  text-align: left;
}
.step {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
}
.flip {
  flex-direction: row;
  gap: 20px;
}
.icon-line {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  margin-bottom: 16px;
  position: relative;
}
.icon-line .circle1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-main);
  position: relative;
}
.icon-line .circle {
  width: 10px;
  height: 10px;
  background-color: #1abc9c;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-line img {
  width: 28px;
  height: 28px;
}
.center .appointment-btn {
  background-color: #12b488;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
}
.center-line {
  flex-direction: column;
  gap: 8px;
}
.demo h3 {
  font-size: 26px;
  font-weight: 500;
  color: #0c345f;
  margin-bottom: 8px;
}
.step p,
.center p {
  color: #666;
  font-size: 20px;
  line-height: 1.4;
}
#featured-doctors {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
}
.content {
  text-align: center;
  max-width: 550px;
}
#featured-doctors .content p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: var(--color-pri);
  font-family: "Roboto", sans-serif;
}
#featured-doctors .content h3 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
  color: #0c345f;
  margin-bottom: 70px;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 auto 150px;
}
.img-card {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.img-card h3 {
  color: #0c345f;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
}
.img-card p {
  color: var(--color-pri);
  font-size: 20px;
  line-height: 30px;
}
#feedback-section {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback-container {
  display: flex;
  gap: 20px;
  margin-bottom: 128px;
}
.feedback-content {
  text-align: center;
  margin: 68px auto 90px;
}
.feedback-content h3 {
  font-size: 28px;
  line-height: 48px;
  color: #0c345f;
}
.feedback-content p {
  font-size: 20px;
  line-height: 30px;
  color: var(--color-pri);
}
.feedback-card {
  max-width: 400px;
  background-color: #2174f8;
  padding: 24px;
  padding-right: 5px;
  border-radius: 10px;
  color: white;
  font-family: "Roboto", sans-serif;
}
.feedback-card p {
  font-size: 16px;
  line-height: 30px;
}
.feedback-label {
  margin-top: 20px;
  display: flex;
  gap: 16px;
}
.feedback-label h3 {
  font-size: 16px;
  line-height: 30px;
}
#subscribe {
  text-align: center;
  background-color: var(--background-color);
  padding: 100px;
  font-family: "Roboto", sans-serif;
}
#subscribe h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}
#subscribe p {
  font-size: 16px;
  line-height: 24px;
}
.email-box {
  margin: auto;
  margin-top: 40px;
  width: 50%;
  position: relative;
  border-radius: 8px;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
}
.email-box input {
  background: transparent;
  border: none;
  flex: 1;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
}
.email-box button {
  padding: 5px 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  background-color: var(--hoverbtn-bg);
  color: var(--color-main);
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: 0.25s ease-in;
}
.email-box button:hover {
  background-color: transparent;
  color: var(--hoverbtn-bg);
}
footer {
  background-color: #2174f8;
  color: var(--color-main);
  font-family: "Roboto", sans-serif;
  padding: 30px 100px;
}
.footer {
  margin: auto;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  gap: 25px;
}
.footer > ul:not(:first-child) {
  padding-top: 20px;
}
.footer h2 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
}
h2 span {
  color: #1ae5bd;
}
li {
  font-size: 20px;
  line-height: 24px;
}
li p {
  font-size: 15px;
}
ul {
  list-style: none;
  width: calc(100% / 5 - 25px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
li span:not(:first-child) {
  padding-left: 12px;
}
.clinic li {
  font-size: 14px;
}
/* Optional responsive tweak */
/* @media (max-width: 768px) {
  .workflow {
    flex-direction: column;
    align-items: center;
  }
} */
